.main{
    padding: 40px 90px;
}

.h1{
    font-family: 'Alegreya', serif;
    font-size: 55px;
    color: #3e6542;
}

.divElement{
    margin-top: 30px;
}

@media (max-width: 768px) {
    .main{
        padding: 20px 20px;
    }

    .h1{
        font-size: 35px;
    }

    .divElement{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}