.main{
    padding: 40px 90px;
}

.h1{
    font-family: 'Alegreya', serif;
    font-size: 55px;
    color: #3e6542;
}

.divElement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}