<div class="infos-container">
  <h1 class="titre">{{ livre.title }}</h1>
  <p><span class="label">écrit par :</span> {{ livre.author }}</p>
  <p><span class="label">éditeur :</span> {{ livre.publisher }}</p>
  <p><span class="label">prix :</span> {{ livre.price }}€</p>
  
  <p class="resume">{{ livre.description }}</p>

  <button 
    class="wishlist-btn" 
    [class.active]="isInWishlist"
    (click)="ajouterWishlist()">
    {{ isInWishlist ? 'Retirer de ma Wishlist' : 'Ajouter à ma Wishlist' }}
  </button>

  <div class="switch-container">
    <span>Pas lu</span>
    <label class="switch">
      <input type="checkbox" [(ngModel)]="lu" (change)="onLuChange()" />
      <span class="slider"></span>
    </label>
    <span>Lu</span>
  </div>
</div>