.carte-livre {
  width: 300px;     
  height: 230px;            
  background-color: #41644A;
  border-radius: 20px;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  text-align: center;
  box-sizing: border-box;
}


.carte-livre h2 {
  font-size: 22px;           
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}

.genres {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.genre {
  background-color: white;
  color: #41644A;
  padding: 6px 20px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  min-width: 120px;            
  text-align: center;
}


