  .page-background {
    background-color: #F6EFDF; 
    min-height: 100vh;
    padding: 40px;
    font-family: "Georgia", serif;
    display: flex;
    justify-content: center;
  }

  .book-list {
    width: 80%;
    max-width: 1000px;
  }

  .readBookTitle {
    font-size: 55px;
    color: #3e6542; 
    margin-bottom: 60px;
    border-bottom: 1px solid transparent;
    text-align: left;
  }

  .book-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #3e6542;
    padding: 20px 0;
  }

  .book-card h3 {
    margin: 0;
    font-weight: normal;
    font-size: 25px;
    color: #2d2d2d;
  }

  .book-card:not(:last-child) {
    margin-bottom: 8px;
  }

  .error-message {
    color: red;
    margin-top: 10px;
    font-weight: bold;
  }

  .del-button {
   width: 150px;
   padding: 12px 24px;
   border-radius: 999px;
   border: none;
   cursor: pointer;
   background-color: #7b1512;   
   color: #ffffff;
   font-size: 16px;
   font-weight: 600;
  }


  @media (max-width: 900px) {
  .page-background {
    padding: 20px;
  }

  .readBookTitle {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .book-card {
    padding: 15px 0;
  }

  .book-card h3 {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .del-button {
    font-size: 14px;
    padding: 10px;
  }
}
