.btnAjouterlivre {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: #700005;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
.btnAjouterlivre:hover p{
    font-size: 20px;
}
.plus {
    width: 20px;
    height: 20px;
}
.pAjouterlivre {
    margin: 0;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Alata', sans-serif;
}