<div class="login-page">
  <div class="login-container">
    <img src="assets/logo_carre.jpg" alt="logo" class="logo" />

    <input #inputLogin id="inputLogin" type="text" class="form-control" placeholder="Nom d'utilisateur" required autofocus/>

    <input #inputPassword id="inputPassword" type="password" class="form-control" placeholder="Mot de passe" required/>

    <button class="login-button" (click)="login(inputLogin.value, inputPassword.value)">Se connecter</button>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <a class="lien_inscription" routerLink="/inscription">S'inscrire</a>
  </div>
</div>